/node_modules
/public/hot
public/js/app.js
public/js/datatable.js
public/css/app.css
public/css/datatable.css
public/css/materialicons.css
public/css/wkhtml.css
public/mix-manifest.json
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/nbproject/private/
/nbproject/project.properties
/nbproject/project.xml
/public/fonts/vendor/mdi
/laradock
*.cache-7
storage/.DS_Store
.DS_Store
.DS_Store
*.code-workspace
