
// Fonts
// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// // Variables
// @import "variables";
// // Bootstrap
// @import "~bootstrap-sass/assets/stylesheets/bootstrap";

@import "inspinia";
@import "custom";
//@import "~vue-form-wizard/src/assets/wizard"
@import "~print-js/dist/print.min.css";
@import "~vue-multiselect/dist/vue-multiselect.min.css"
// @import "~vue-tabs-component/docs/resources/tabs-component.css"
