//colors
$color_mountain_meadow_approx: #1ab394;
$color_mine_shaft_approx: #333;
$white_80: rgba(255, 255, 255, 0.8);
$white: #fff;
$color_celeste_approx: #ccc;
$black: #000;
$color_mountain_mist_approx: #999;

.sk-folding-cube {
	margin: 40px auto;
	width: 40px;
	height: 40px;
	position: relative;
	//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
	transform: rotateZ(45deg);
	.sk-cube {
		float: left;
		width: 50%;
		height: 50%;
		position: relative;
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: scale(1.1);
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: $color_mountain_meadow_approx;
			animation: sk-foldCubeAngle 2.4s infinite linear both;
			//Instead of the line below you could use @include transform-origin($origin-x, $origin-y, $origin-z, $only3d)
			transform-origin: 100% 100%;
		}
	}
	.sk-cube2 {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: scale(1.1) rotateZ(90deg);
		&:before {
			animation-delay: 0.3s;
		}
	}
	.sk-cube3 {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: scale(1.1) rotateZ(180deg);
		&:before {
			animation-delay: 0.6s;
		}
	}
	.sk-cube4 {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: scale(1.1) rotateZ(270deg);
		&:before {
			animation-delay: 0.9s;
		}
	}
}
@-webkit-keyframes sk-foldCubeAngle {
	0% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: perspective(140px) rotateX(-180deg);
		opacity: 0;
	}
	10% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: perspective(140px) rotateX(-180deg);
		opacity: 0;
	}
	25% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: perspective(140px) rotateX(0deg);
		opacity: 1;
	}
	75% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: perspective(140px) rotateX(0deg);
		opacity: 1;
	}
	90% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: perspective(140px) rotateY(180deg);
		opacity: 0;
	}
	100% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: perspective(140px) rotateY(180deg);
		opacity: 0;
	}
}
@keyframes sk-foldCubeAngle {
	0% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: perspective(140px) rotateX(-180deg);
		opacity: 0;
	}
	10% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: perspective(140px) rotateX(-180deg);
		opacity: 0;
	}
	25% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: perspective(140px) rotateX(0deg);
		opacity: 1;
	}
	75% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: perspective(140px) rotateX(0deg);
		opacity: 1;
	}
	90% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: perspective(140px) rotateY(180deg);
		opacity: 0;
	}
	100% {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: perspective(140px) rotateY(180deg);
		opacity: 0;
	}
}
.sk-fading-circle {
	margin: 100px auto;
	width: 40px;
	height: 40px;
	position: relative;
	.sk-circle {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		&:before {
			content: '';
			display: block;
			margin: 0 auto;
			width: 15%;
			height: 15%;
			background-color: $color_mine_shaft_approx;
			//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
			border-radius: 100%;
			animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
		}
	}
	.sk-circle2 {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: rotate(30deg);
		&:before {
			animation-delay: -1.1s;
		}
	}
	.sk-circle3 {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: rotate(60deg);
		&:before {
			animation-delay: -1s;
		}
	}
	.sk-circle4 {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: rotate(90deg);
		&:before {
			animation-delay: -0.9s;
		}
	}
	.sk-circle5 {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: rotate(120deg);
		&:before {
			animation-delay: -0.8s;
		}
	}
	.sk-circle6 {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: rotate(150deg);
		&:before {
			animation-delay: -0.7s;
		}
	}
	.sk-circle7 {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: rotate(180deg);
		&:before {
			animation-delay: -0.6s;
		}
	}
	.sk-circle8 {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: rotate(210deg);
		&:before {
			animation-delay: -0.5s;
		}
	}
	.sk-circle9 {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: rotate(240deg);
		&:before {
			animation-delay: -0.4s;
		}
	}
	.sk-circle10 {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: rotate(270deg);
		&:before {
			animation-delay: -0.3s;
		}
	}
	.sk-circle11 {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: rotate(300deg);
		&:before {
			animation-delay: -0.2s;
		}
	}
	.sk-circle12 {
		//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
		transform: rotate(330deg);
		&:before {
			animation-delay: -0.1s;
		}
	}
}
@-webkit-keyframes sk-circleFadeDelay {
	0% {
		opacity: 0;
	}
	39% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
}
@keyframes sk-circleFadeDelay {
	0% {
		opacity: 0;
	}
	39% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
	40% {
		opacity: 1;
	}
}
.panel {
	&.sk-loading {
		position: relative;
		&:after {
			content: '';
			background-color: $white_80;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
		> .panel-body > {
			.sk-folding-cube {
				display: block;
				position: absolute;
				top: 40%;
				left: 0;
				right: 0;
				z-index: 2000;
			}
			.sk-fading-circle {
				display: block;
				position: absolute;
				top: 40%;
				left: 0;
				right: 0;
				z-index: 2000;
			}
		}
	}
	> .sk-folding-cube {
		display: none;
	}
}
.my-inbox {
	&.sk-loading {
		position: relative;
		&:after {
			content: '';
			background-color: $white_80;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
		> .mail-box > {
			.sk-folding-cube {
				display: block;
				position: absolute;
				top: 10%;
				left: 0;
				right: 0;
				z-index: 2000;
			}
			.sk-fading-circle {
				display: block;
				position: absolute;
				top: 10%;
				left: 0;
				right: 0;
				z-index: 2000;
			}
		}
	}
	> .sk-folding-cube {
		display: none;
	}
}
.my-content {
	&.sk-loading {
		position: relative;
		&:after {
			content: '';
			background-color: $white_80;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
		> .cont > {
			.sk-folding-cube {
				display: block;
				position: absolute;
				top: 10%;
				left: 0;
				right: 0;
				z-index: 2000;
			}
			.sk-fading-circle {
				display: block;
				position: absolute;
				top: 10%;
				left: 0;
				right: 0;
				z-index: 2000;
			}
		}
	}
	> .sk-folding-cube {
		display: none;
	}
}
.my-content-select-contributions {
	&.sk-loading {
		position: relative;
		&:after {
			content: '';
			background-color: $white_80;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width:100%;
			height:500px
		}
		> .cont > {
			.sk-folding-cube {
				display: block;
				position: absolute;
				top: 30%;
				left: 0;
				right: 0;
				z-index: 2000;
			}
			.sk-fading-circle {
				display: block;
				position: absolute;
				top: 30%;
				left: 0;
				right: 0;
				z-index: 2000;
			}
		}
	}
	> .sk-folding-cube {
		display: none;
	}
}
.toast-title {
	font-weight: 700;
}
.toast-message {
	word-wrap: break-word;
	a {
		color: $white;
		&:hover {
			color: $color_celeste_approx;
			text-decoration: none;
		}
	}
	label {
		color: $white;
	}
}
.toast-close-button {
	position: relative;
	right: -.3em;
	top: -.3em;
	float: right;
	font-size: 20px;
	font-weight: 700;
	color: $white;
	//Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	text-shadow: 0 1px 0 $white;
	opacity: .8;
	filter: alpha(opacity=80);
	&:focus {
		color: $black;
		text-decoration: none;
		cursor: pointer;
		opacity: .4;
		filter: alpha(opacity=40);
	}
	&:hover {
		color: $black;
		text-decoration: none;
		cursor: pointer;
		opacity: .4;
		filter: alpha(opacity=40);
	}
}
.toast-top-center {
	top: 0;
	right: 0;
	width: 100%;
}
.toast-bottom-center {
	bottom: 0;
	right: 0;
	width: 100%;
}
.toast-top-full-width {
	top: 0;
	right: 0;
	width: 100%;
}
.toast-bottom-full-width {
	bottom: 0;
	right: 0;
	width: 100%;
}
.toast-top-left {
	top: 12px;
	left: 12px;
}
.toast-top-right {
	top: 12px;
	right: 12px;
}
.toast-bottom-right {
	right: 12px;
	bottom: 12px;
}
.toast-bottom-left {
	bottom: 12px;
	left: 12px;
}
#toast-container {
	position: fixed;
	z-index: 999999;
	* {
		//Instead of the line below you could use @include box-sizing($bs)
		box-sizing: border-box;
	}
	> div {
		position: relative;
		overflow: hidden;
		margin: 0 0 6px;
		padding: 15px 15px 15px 50px;
		width: 300px;
		//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
		border-radius: 3px;
		background-position: 15px center;
		background-repeat: no-repeat;
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: 0 0 12px $color_mountain_mist_approx;
		color: $white;
		opacity: .8;
		filter: alpha(opacity=80);
	}
	> :hover {
		//Instead of the line below you could use @include box-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		box-shadow: 0 0 12px $black;
		opacity: 1;
		filter: alpha(opacity=100);
		cursor: pointer;
	}
	&.toast-bottom-center > div {
		width: 300px;
		margin: auto;
	}
	&.toast-top-center > div {
		width: 300px;
		margin: auto;
	}
	&.toast-bottom-full-width > div {
		width: 96%;
		margin: auto;
	}
	&.toast-top-full-width > div {
		width: 96%;
		margin: auto;
	}
}
.toast-progress {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 4px;
	background-color: $black;
	opacity: .4;
	filter: alpha(opacity=40);
}
@media all and(max-width: 240px) {
	#toast-container {
		> div {
			padding: 8px 8px 8px 50px;
			width: 11em;
		}
		.toast-close-button {
			right: -.2em;
			top: -.2em;
		}
	}
}
@media all and(min-width: 241px) and(max-width: 480px) {
	#toast-container {
		> div {
			padding: 8px 8px 8px 50px;
			width: 18em;
		}
		.toast-close-button {
			right: -.2em;
			top: -.2em;
		}
	}
}
@media all and(min-width: 481px) and(max-width: 768px) {
	#toast-container > div {
		padding: 15px 15px 15px 50px;
		width: 25em;
	}
}
button.toast-close-button {
	padding: 0;
	cursor: pointer;
	background: 0 0;
	border: 0;
}
input.largerCheckbox {
	width: 30px;
	height: 30px;
}
input.mediumCheckbox {
	width: 20px;
	height: 20px;
}
/*
 *
 * Main stylesheet for Switchery.
 * http://abpetkov.github.io/switchery/
 *
 */
.switchery {
    background-color: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    position: relative;
    vertical-align: middle;
    width: 50px;

    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.switchery > small {
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    height: 30px;
    position: absolute;
    top: 0;
    width: 30px;
}
.bg-success-green{
	background: rgba(195, 230, 203, 9)
}
.bg-warning-yellow{
	background: rgba(255, 238, 186, 9)
}
.bg-success-blue{
	background: rgba(135, 208, 253, 9)
}

#disabled-button-wrapper {
  display: inline-block;
}

#disabled-button-wrapper  .btn[disabled] {
  pointer-events: none;
}
#disabled-button-wrapper.disabled {
  cursor: not-allowed;
}

.md-skin .navbar-fixed-top{
	z-index: 1000;
}
.navbar-static-side{
	z-index: 999;
}

.tab-content{
	padding: 10px;
}
.breadcrumb{
	margin-top: 20px;
    margin-bottom: 10px;
}
.breadcrumb li a{
	font-size:19px;
	font-weight: 100;
}
.breadcrumb > li + li:before {
    font-size: 19px;
    padding: 0 5px;
    color: #ccc;
    content: "/\A0";
}
.breadcrumb > .active {
	font-size:19px;
	font-weight: 500;
}
.widget-head-color-box {
    margin-top: 17px;
}
.tab-content {
    padding: 0px;
}
.add-beneficiary-button:focus{
	box-shadow: 0px 0px 11px 3px #394a70;
	transition: all .45s ease-in-out;
}
.link-affiliate{
	color: #fff;
}
.link-affiliate:hover, .link-affiliate:focus{
	color: #EFEFC8;
}
.link-affiliate:active{
	color: #ddddad;
}
.row-click{
    border-left:5px solid transparent;
}
.row-click-first:hover{
    cursor: default;
}
.row-click:hover{
    transition: background .1s ease-in-out, border .1s ease, font-weight .45s ease-in-out;
    cursor: pointer;
    border-left:5px solid #59B75C;  
    color: #3c3c3c;
    font-weight: 600
}
.custom__tag {
	line-height: 13px;
    border-radius: 5px;
	height: 22px;
	padding: 6px;
	background-color: #d1dade;
	margin-right: 5px;
	margin-bottom: 5px;
}
.custom__remove {
	padding: 0;
	font-size: 10px;
	margin-left: 5px;
	font-size:15px
}
.custom__remove:hover{
	cursor: pointer;
	border-radius:50%;
	color:#fff;
}
.cursor-not-allowed {
	cursor: not-allowed;
	opacity: 0.5;
	text-decoration: none;
}
a[aria-disabled="true"] {
	cursor: not-allowed;
	opacity: 0.5;
	text-decoration: none;
}
button[aria-disabled="true"] {
	cursor: not-allowed;
	opacity: 0.5;
}

.alert-orange{
	color: #703b07;
	background-color:#ffdfbf;
	border-color: #f29539;
}
.elements-list .list-group-item:hover{
    cursor: pointer;
}
.pointer:hover{
	cursor: pointer;
}
.v-middle{
	vertical-align: middle;
}
.timeline-item .date {
    text-align: right;
    width: 135px;
    position: relative;
    padding-top: 27px;
}